<div class="flex justify-around mt-10">
    <div class="max-w-md border border-gray-300 rounded-lg overflow-hidden shadow-md">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPMsyusVDhWIwKTEFNf7X80-nfJtnbALkvvg&usqp=CAU" alt="Adventure Tour" class="w-full h-40 object-cover">
      <div class="p-4">
        <h2 class="text-xl font-semibold mb-2">Adventure Tours</h2>
        <p class="text-gray-700">Embark on thrilling adventures in breathtaking locations. Our expert guides will lead you through unforgettable experiences, from mountain treks to exciting water activities.</p>
      </div>
    </div>
  
    <div class="max-w-md border border-gray-300 rounded-lg overflow-hidden shadow-md">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf79JAV8ACta30LbRCm0b5cqtkyA4WwuMx3Q&usqp=CAU" alt="Cultural Excursion" class="w-full h-40 object-cover">
      <div class="p-4">
        <h2 class="text-xl font-semibold mb-2">Cultural Excursions</h2>
        <p class="text-gray-700">Immerse yourself in rich and diverse cultures. Explore historical landmarks, delve into local art scenes, and participate in traditional events. Discover the beauty of global heritage.</p>
      </div>
    </div>
  
    <div class="max-w-md border border-gray-300 rounded-lg overflow-hidden shadow-md">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjJqMGHfiKGmO0jljvi3yndT-nGlYDMoUjhQ&usqp=CAU" alt="Weekend Getaway" class="w-full h-40 object-cover">
      <div class="p-4">
        <h2 class="text-xl font-semibold mb-2">Weekend Getaways</h2>
        <p class="text-gray-700">Escape for a rejuvenating weekend. Experience tranquility in beautiful destinations, enjoy leisurely activities, and create memorable moments on short getaways tailored for relaxation and fun.</p>
      </div>
    </div>
  </div>
  
