

  <app-navbar></app-navbar>

  <div class="container mx-auto my-8">
    <h1 class="text-3xl italic mb-4">My Tours</h1>

   
    <div class="flex flex-wrap -mx-4">
      
      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-4 mb-4">
        <div class="bg-white rounded-md overflow-hidden shadow-md">
          <img src="https://www.freetour.com/images/tours/39533/tour-to-maasai-mara-national-park-01.jpg" alt="Tour Image" class="w-full h-48 object-cover mb-4">
          <div class="p-4">
            <h3 class="text-xl font-semibold mb-2">Safari Adventure</h3>
            <p class="text-gray-600 mb-4">Experience the beauty of Kenyan wildlife on this exciting safari adventure. Karibu Kenya! <br>
            </p>
            <p class="text-sm text-gray-500">Destination: Kenya</p>
            <p class="text-sm text-gray-500">Duration: 7 days</p>
            <p class="text-sm text-gray-500">Price: $1500</p>
            <p class="text-sm text-gray-500">Tour Type: Hike</p>
          </div>
          <div class="bg-gray-100 py-2 px-4 flex justify-between items-center">
            <button class="text-blue-500 hover:underline" onclick="viewDetails()">View Details</button>
            <div class="flex space-x-2">
              <button class="bg-green-500 text-white px-3 py-1 rounded" onclick="bookTour()">Book Now</button>
              <button class="bg-blue-500 text-white px-3 py-1 rounded" onclick="leaveReview()">Leave Review</button>
            </div>
          </div>
        </div>
      </div>


      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-4 mb-4">
        <div class="bg-white rounded-md overflow-hidden shadow-md">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj3z32VN6ZNdU47aKAS9ceumNOOd-0yk-FxA&usqp=CAU" alt="Tour Image" class="w-full h-48 object-cover mb-4">
          <div class="p-4">
            <h3 class="text-xl font-semibold mb-2">Bike Tours Thailand</h3>
            <p class="text-gray-600 mb-4">Road and Off-Road Adventures. Thailand Motorcycle Holidays from Chiang Mai Thailand. Adventures across Thailand.</p>
            <p class="text-sm text-gray-500">Destination: Thailand</p>
            <p class="text-sm text-gray-500">Duration: 7 days</p>
            <p class="text-sm text-gray-500">Price: $1500</p>
            <p class="text-sm text-gray-500">Tour Type: Hike</p>
          </div>
          <div class="bg-gray-100 py-2 px-4 flex justify-between items-center">
            <button class="text-blue-500 hover:underline" onclick="viewDetails()">View Details</button>
            <div class="flex space-x-2">
              <button class="bg-green-500 text-white px-3 py-1 rounded" onclick="bookTour()">Book Now</button>
              <button class="bg-blue-500 text-white px-3 py-1 rounded" onclick="leaveReview()">Leave Review</button>
            </div>
          </div>
        </div>
      </div>



      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-4 mb-4">
        <div class="bg-white rounded-md overflow-hidden shadow-md">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu-rwvIiVnW7NZht4QKoRXALsDz9W1Lh1ywg&usqp=CAU" alt="Tour Image" class="w-full h-48 object-cover mb-4">
          <div class="p-4">
            <h3 class="text-xl font-semibold mb-2">Lovers Spot</h3>
            <p class="text-gray-600 mb-4">The land of cherry blossoms and anime. <br> Come view sakuras enjoy a romantic boat ride and amaizing food</p>
            <p class="text-sm text-gray-500">Destination: Japan</p>
            <p class="text-sm text-gray-500">Duration: 1 week</p>
            <p class="text-sm text-gray-500">Price: $200</p>
            <p class="text-sm text-gray-500">Tour Type: Honey Moon</p>
          </div>
          <div class="bg-gray-100 py-2 px-4 flex justify-between items-center">
            <button class="text-blue-500 hover:underline" onclick="viewDetails()">View Details</button>
            <div class="flex space-x-2">
              <button class="bg-green-500 text-white px-3 py-1 rounded" onclick="bookTour()">Book Now</button>
              <button class="bg-blue-500 text-white px-3 py-1 rounded" onclick="leaveReview()">Leave Review</button>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-4 mb-4">
        <div class="bg-white rounded-md overflow-hidden shadow-md">
          <img src="https://cdn.getyourguide.com/img/tour/620733cf78f74.jpeg/146.jpg" alt="Tour Image" class="w-full h-48 object-cover mb-4">
          <div class="p-4">
            <h3 class="text-xl font-semibold mb-2">Dubai Desert Tour</h3>
            <p class="text-gray-600 mb-4">A desert safari is an experience like no other. <br> Come experience the vast desert with the ride of a lifetime.</p>
            <p class="text-sm text-gray-500">Destination: Dubai</p>
            <p class="text-sm text-gray-500">Duration: 1 week</p>
            <p class="text-sm text-gray-500">Price: $3500</p>
            <p class="text-sm text-gray-500">Tour Type: Desert safari</p>
          </div>
          <div class="bg-gray-100 py-2 px-4 flex justify-between items-center">
            <button class="text-blue-500 hover:underline" onclick="viewDetails()">View Details</button>
            <div class="flex space-x-2">
              <button class="bg-green-500 text-white px-3 py-1 rounded" onclick="bookTour()">Book Now</button>
              <button class="bg-blue-500 text-white px-3 py-1 rounded" onclick="leaveReview()">Leave Review</button>
            </div>
          </div>
        </div>
      </div>
      <!-- MORE CARDS IF NEED BE -->
    </div>

    

    <!-- Review Modal -->
    <!-- <div id="reviewModal" class="fixed top-0 left-0 w-full h-full flex items-center justify-center hidden">
      <div class="absolute bg-black opacity-50 inset-0"></div>
      <div class="bg-white p-8 rounded-lg z-10">
        <h2 class="text-2xl font-semibold mb-4">Leave a Review</h2>
        
        <textarea class="w-full h-24 border p-2 mb-4" placeholder="Write your review"></textarea>
        <button class="bg-blue-500 text-white py-2 px-4 rounded-full">Submit Review</button>
      </div>
    </div> -->

  </div>

