<app-navbar></app-navbar>
<section class="hero">
    <div class="hero">
        <img src="https://rimage.gnst.jp/livejapan.com/public/article/detail/a/00/02/a0002487/img/basic/a0002487_main.jpg?20230106161700" alt="japan">
      <div class="hero-content">
        <h1>Your Adventure Awaits with XPLORA</h1>
        <div class="hero-buttons">
          <a routerLink="/register" class="button">Register</a>
          <a routerLink="/login" class="button">Login</a>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  
