
<footer class="footer">
    <div class="container">
      <div class="row">
        <!-- Company Info -->
        <div class="info">
          <h3 class="footer-title">Company Info</h3>

          <h2>XPLORA</h2>
<p>
    I travel not to go anywhere, but to go. I travel for travel’s sake. <br>
     The great affair is to move.” – Robert Louis Stevenson
</p>          <!-- Add your company logo here -->
          
        </div>
  
        <!-- Contact Us -->
        <div class="info">
          <h3 class="footer-title">Contact Us</h3>
          <div class="contact-info">
            <div class="info-item">
              <span class="contact-icon">&#9742;</span>
              <p>123-456-7890</p>
            </div>
            <div class="info-item">
              <span class="contact-icon">&#128204;</span>
              <p>info@xplora.com</p>
            </div>
            <div class="info-item">
              <span class="contact-icon">&#127968;</span>
              <p>123 Street, Tokyo, Japan</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </footer>
  