<!-- navbar.component.html -->
<nav class="navbar">
    <div class="logo">XPLORA</div>
    <ul class="navbar-list">
      <li class="navbar-item">
        <a routerLink="/">Home</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/">Services</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/tours">Tours</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/bookings">Bookings</a>
      </li>
      <li class="navbar-item">
        <button class="get-started-button" routerLink="/get-started">Get Started</button>
      </li>
    </ul>
  </nav>
  